<div class="inner">
  <header class="major">
    <h2>Venez célébrer avec nous!</h2>
    <p>Véronique et John se marient et vous êtes cordialement invité.es! Le lieu de la réception sera annoncé sous peu, mais ce sera certainement à Trois-Rivières ou dans les environs. La fête commencera vers midi et se terminera vers 16h.</p>

    <p>Étant à l’autre bout de la planète, il est difficile de tout planifier nous-même, c’est pourquoi nous avons engagé une organisatrice d’événements qui travaille fort à nous trouver le coin parfait pour célébrer notre union en votre charmante compagnie. Merci de votre flexibilité et nous partagerons tous les détails sur ce site internet dès qu’ils seront disponibles.</p>

    <p>D’ici là, nous avons besoin de savoir si vous pourrez vous joindre à nous. Le nombre d’invités influencera notre choix d’emplacement et de menu. Nous vous prions de répondre à cette invitation <b><u>avant le 16 mai 2018.</u></b></p>

  </header>
</div>
