<div class="inner">
  <header class="major">
    <h2>Come celebrate with us in Tai Hang!</h2>
    <p>Véronique Nobert and John Ho are tying the knot, and you're cordially invited!</p>
    <p>The wedding will take place in Tai Hang, Hong Kong at Tipsy Bar & Restaurant (see the <a href="#location" class="more scrolly">map below</a>) on Saturday, March 31, 2018. The venue is on the first floor with a small outdoor balcony over looking Tung Lo Wan road. The <a href="https://www.facebook.com/tipsy.restaurant.bar/">restaurant</a> features an open bar and dining area with interior matching the colonial era style of <a href="http://littletaihang.com">Little Tai Hang</a>.</p>
    <p>The neigbhourhood is in a trendy area where local shops and quirky cafés sit side by side. Right next to Victoria Park and with lots of culinary options, it's the prefect place to grab a Saturday morning brunch and enjoying the nice weather before hand (historically, temperatures average 20&deg;C, at 77% humidity, and small chance of shower on March 31st in Hong Kong).</p>
    <p>The ceremony is scheduled for 3:00pm, rain or shine. Free flow drinks, canapés, and desserts will be served through out. Guests are welcome to arrive anytime after 2:00pm. We will be indoor mostly (with air conditioning), enjoying good companies, having nice food and drinks, taking pictures, and grooving to nice beats. Feel free to wear something smart & casual or whatever you will be comfortable in.</p>
    <p><em>We are planning an after-party as well (likely from 6:00pm to 10:00pm), please check this webpage in February 2018 for updates.</em></p>
  </header>
</div>
