<div class="inner">
  <header class="major">
    <h2>Venez célébrer avec nous!</h2>

    <p>La fête se déroulera au restaurant <b>Le Poivre noir</b>, situé au 1300 avenue du Fleuve au centre-ville de Trois-Rivières, le 7 juillet. Il s'agit d'un dîner alors nous vous attendrons vers <b>11h30</b> pour prendre l'apéro en votre compagnie. Un peu plus tard, un délicieux repas vous sera servi. Vous aurez deux options d'entrées ainsi que deux choix de plats principaux. C'est avec grand plaisir que nous vous offrirons ce délicieux dîner ainsi que deux consommations incluant l'apéro et un verre de vin. Si vous souhaitez ajouter d'autres consommations à celles offertes, une facture personnelle vous sera remise à la fin du repas.</p>

    <p>Nous aurons une photographe sur place pour capturer les beaux moments que nous nous apprêtons à partager. Dès que possible, les photos seront publiées sur notre site et un courriel vous sera envoyé pour vous en informer.</p>

    <p>Un stationnement payant se situe sous le restaurant, en passant par le tunnel sur la rue du Fleuve. Quelques espaces aux enseignes réservés Poivre Noir sont gratuits.</p>

    <p>Deux minimalistes qui vivent ensemble depuis 7 ans n'ont définitivement pas besoin de cadeaux de mariage! De plus, nous n'aurons que nos valises pour rentrer à la maison alors s'il vous plait, pas de cadeaux. Merci de votre compréhension!</p>

    <p>Pour continuer les festivités, nous prévoyons aller prendre un verre et souper soit au centre-ville : au Temps d'une pinte ou à Trois-Rivières-Ouest : à l'Archibalde. Notre décision finale déprendra  de l'achalandage au centre-ville puisqu'il s'agira de la dernière fin de semaine du FestiVoix. Si vous êtes intéressés à vous joindre à nous, communiquez avec Véronique par courriel, Facebook ou par WhatsApp (+852 5502 8830).</p>
<!--
    <p>Véronique et John se marient et vous êtes cordialement invité.es! Le lieu de la réception sera annoncé sous peu, mais ce sera certainement à Trois-Rivières ou dans les environs. La fête commencera vers midi et se terminera vers 16h.</p>

    <p>Étant à l’autre bout de la planète, il est difficile de tout planifier nous-même, c’est pourquoi nous avons engagé une organisatrice d’événements qui travaille fort à nous trouver le coin parfait pour célébrer notre union en votre charmante compagnie. Merci de votre flexibilité et nous partagerons tous les détails sur ce site internet dès qu’ils seront disponibles.</p>

    <p>D’ici là, nous avons besoin de savoir si vous pourrez vous joindre à nous. Le nombre d’invités influencera notre choix d’emplacement et de menu. Nous vous prions de répondre à cette invitation <b><u>avant le 16 mai 2018.</u></b></p>
-->

  </header>
</div>
