<div class="inner">
  <header class="major">
    <h2>Registry</h2>
    <p>Véro and John have been living together for five years, and have acquired most essential household goods in that time, so they are reluctant to register for gifts&hellip;</p>
    <p>If you do feel so compelled, we hosted a registries on Thankful. The Thankful online registry is non-conventional: it includes options like contributing to a life fund, or gifting an experience.</p>
      <p>For guests who prefer to give a material gift, there are some included on the registry website &mdash; but please know that any heirloom, hand-made, or otherwise unique gifts are absolutely appreciated!</p>
      <p>If you will be giving a registry item acquired through a different platform, you may <a href="mailto:barryli@gmail.com">send an email to best Bro Barry Li</a> and request that a gift be marked as 'purchased' on Thankful.</p>
  </header>
    <h4><a href="http://thkfl.com/jho">View Véro and John's registry here.</a></h4>
</div>
