<div class="inner">
  <header class="major">
    <h2>Registry</h2>
    <p>Véro and John have been living together for awhile, and have acquired most essential household goods in that time, so they are reluctant to register for gifts.</p>
    <p>They take delights in the simplest of pleasures and are always inspired by the minimalist lifestyle. Like most <a href="https://journal.thriveglobal.com/why-millennials-are-choosing-experiences-over-things-6ebc4674bb4e" target="_blank">millennials</a>, they too highly value experiences over possessions. So the time that we'll have together on 31 March 2018, will already be itself a valuable gift.</p>
    <p>If you do feel so compelled, we hosted a registry on Thankful. The Thankful online registry is non-conventional: it includes options like contributing to a life fund, or gifting an experience.</p>
    <p>For guests who prefer to give a material gift, there are some included on the registry website &mdash; but please know that any heirloom, hand-made, or otherwise unique gifts will also be highly valued!</p>
    <p>If you will be giving a registry item acquired through a different platform, you may <a href="mailto:jho.yvr@gmail.com">send an email to the groom</a> and request that a gift be marked as 'purchased' on Thankful.</p>
  </header>
    <h4><a href="http://thkfl.com/jho">View Véro and John's registry here.</a></h4>
</div>
